DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=pokemon_db
LOG_LEVEL=debug
JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=1h


POKEMON_API_URL=https://pokeapi.co/api/v2
POKEMON_LIMIT=100
NUM_ORGANIZATIONS=10
NUM_USERS_PER_ORG=10
BATCH_SIZE=100
NODE_ENV=development
THROTTLE_TTL=60000
THROTTLE_LIMIT=10

DATABASE_URL